body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color:#694188;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

main {
    padding: 20px;
}

main h2 {
    margin-top: 0;
    color: #694188;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #694188;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #694188;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}