.navbar{
    position: absolute;
    width: 273px;
    height: 1024px;
    left: -3px;
    top: calc(50% - 1024px/2 - 1px);
    background: linear-gradient(0deg, #C3ACD0 80.26%, rgba(146, 95, 226, 0) 143.39%, #E2D4F7 143.39%);
   
}

body{
    margin: 0;
}

.navimg{

    padding: 0px;
    gap: 13.33px;
    isolation: isolate;

    position: absolute;
    width: 128px;
    height: 128px;
    left: calc(50% - 128px/2 - 0.5px);
    margin-top: 160px;

}

.nav_icons{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 170px;
    height: 600px;
    left: calc(50% - 159px/2);
    top: 80px;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    white-space: nowrap;
}

a{
    text-decoration: none;
    color: #674188;
}
a:hover{
    color: white;
}
a:active{
    color:white;
}

ul li {
    width: 90px;
    height: 4px;
    gap:50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
   
    
    margin-top: 50px;
    margin-bottom: 50px;
    padding-inline-start: 20px;
    
}

ul li,span{
    gap:10px;
    margin-left: -25px;
    display: inline-flexbox;
}

.content{
    position:relative;
    width:75%;
    height:fit-content;
    margin-left: auto;
    margin-top: 50px;
    color:#674188;
}

.personal-details{
    color: #674188;
    font-size: 24px;
}

/* NEW STUDENT PAGE */

.content1{
    
    height:fit-content;
    margin-left: auto;
    margin-top: 50px;
    color:#FFF;
    
    margin-left: 600px;
}


.regform{
    margin-left: 100px;
    width:45%;
    height:300px;
    align-content: center;
    margin-left: -200px;
    border-style: solid;
    margin-top: 100px;
}
.heading{
   text-align: left;
   color:#674188;
    font-size: 3em;
}

label{
    color:#674188;
    font-weight: bold;
    display: block;
    font-size: 1em;
    
}
input{
    
}

input,label{
    margin-block: -20px;
}