{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Attendance</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/attend.css' %}">
</head>
<body>
    <header>
        <h1>Attendance</h1>
       
    </header>
    <main>
        <h2>Attendance Summary</h2>
        <table>
            <thead>
                <tr>
                    <th>Training Name</th>
                    <th>Total Sessions</th>
                    <th>Attended Sessions</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Placement Training</td>
                    <td>10</td>
                    <td>8</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>Training 2</td>
                    <td>15</td>
                    <td>12</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>Training 3</td>
                    <td>12</td>
                    <td>10</td>
                    <td>83.33%</td>
                </tr>
                <tr>
                    <td>Training 4</td>
                    <td>8</td>
                    <td>6</td>
                    <td>75%</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>