{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>
    <div >
        <div id="half1">
            <h1 class="heading1" >PLACEMENT</h1>
            <img src="{% static 'assets/images/images/kid.png' %}" id="kid">
        </div>
        <div id="half2">
            <h1 class="heading2">TRAINING</h1>
            <div>

               <!-- <a href="index.html" class="button button1" target="_self">                   
                        <img src="/static/images/faculty.png" class="img_icon" id="img_faculty">                     
                </a>
                <a href="/student" class="button button2" target="_self">
                        <img src="/static/images/student.png" class="img_icon" id="img_student">                   
                </a> -->

                <button id="student" class="button button1"> 
                    <img src="{% static 'assets/images/images/studentwhite.png' %}" class="img_icon" id="img_student">
                </button>
                <button id="faculty" class="button button2"> 
                    <img src="{% static 'assets/images/images/faculty blue.png' %}" class="img_icon" id="img_faculty">
                </button>
            </div>
            <img src="{% static 'assets/images/images/CCE logo.png' %}"  id="logo">
            <div class="form_box">
                <h1 style="text-align: left; margin-left: 30px;">Login</h1>
                <form class="form" method="post" action="{% url 'login' %}">
                    <input type="text" placeholder="username" id="form_text" required>
                    <input type="password" placeholder="password" id="form_pass" required minlength="8">
                    <h6 style="color: #FFFBF5; font-size: 15px; margin-top: -30px; margin-bottom: 10px; margin-left: -15px;">forgot password ?</h6>
                    <button type="submit" id="form_sub">Login</button>
                </form>
            </div>
        </div>
    </div>



    <script src=""></script>
</body>
</html>