{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'assets/css/fac_profile.css' %}">  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"> 

</head>
<body>
    <div class="navbar">
        <nav>
            <img src="{% static 'assets/images/images/nav pic.png' %}" class="navimg">
            <div class="nav_icons">
                <ul>
                   <a href="{% url 'stud_profile'%}"> <li style="margin-top: 150px;"> <span class="material-icons-outlined">home</span>  Home</li></a>
                   <a href="#"> <li><span class="material-icons-outlined">perm_identity</span>Notifications</li></a>
                   <a href="{% url 'attend' %}"> <li><span class="material-icons-outlined">article</span>Attendance</li></a>
                   <a href="{% url 'calendar' %}"> <li><span class="material-icons-outlined">calendar_month</span>Calendar</li></a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="content">
        <img src="{% static 'assets/images/images/stud_pic.png' %}">
        <div class="personal-details">
            <h2>Personal Details:</h2>
            <p>Name: Someone</p>
            <p>Batch: 2022-26</p>
            <p>Reg No: CCE22CS000</p>
            <p>Branch: Computer Science</p>
            <p>Semester: 4</p>
            <div>
    </div>
</body>
</html>